.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-con{
  display: flex;
  justify-content: space-around;
}

.add-btn{
    align-self: center;
    background-color: #1c6440;
    border: none;
    border-radius: 8px;
    padding: 5px;
    padding-bottom: 8px;
    color: #ffffff;
    width: 10em;
    border: 2px solid #065930;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-btn:hover{
  border: 2px solid #074124;
    background-color: #ffffff;
    color: #052917;
}